<div class="flex flex-col">
  <h1>Game</h1>
  <div class="flex flex-row justify-around">
    <div class="flex flex-col">
      <div>
        {{ playerOneStore.name() }}
      </div>
      <div>

        {{ playerOneFaction()?.name }}
      </div>
      <div>
        {{ playerOneStore.secondaire() }}
      </div>
    </div>
    <div class="flex flex-col">
      <div>
        {{ playerTwoStore.name() }}
      </div>
      <div>
        {{ playerTwoFaction()?.name }}
      </div>
      <div>
        {{ playerTwoStore.secondaire() }}
      </div>
    </div>
  </div>

</div>
